/*g {
  transform-origin: 0px 0px 0px;
}*/

/*.node {
  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}*/
